@keyframes rotate360deg {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: rotate360deg 2s ease-in-out infinite;
}
