.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 700;
  font-size: 25px;
}

.user-component__subtitle {
  margin-top: 10px;
  color: var(--gray-color);
}

.user-component__avatar--xl {
  width: 90px;
  height: 90px;
  border-radius: 30%;
}

.user-component__avatar--sm {
  width: 70px;
  height: 70px;
  border-radius: 30%;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

#candy {
  padding: 10px 10px;
  width: 70px;
  height: 70px;
  background-color: var(--yellow);
}
